.contact__form {
   padding: 12px;
}

.contact__label

.contact__input {
   width: 100%;
   border: none;
   height: 22px;
}

.section__contact {

   .main__button {
      margin-left: auto;
      margin-right: auto;
      border: none;
      margin-top: 30px;
   }
}