.linck-number,
.linck-adres{
font-size: 16px;
line-height: 1.25;
text-align: left;
color: var(--main-text-color);
text-decoration: none;
}

.footer__flex {
   display: flex;
   justify-content: space-between;
   // padding-top: 19px;
   padding-bottom: 19px;

}