// .hero__content {
//    max-width: 224px;
//    width: 100%;
// }

.hero__text {
   font-weight: 500;
   font-size: 24px;
   line-height: 1.2;

   @media screen and (max-width:768px) {
      text-align: center;
      font-size: 16px;
      line-height: 1.25;
      margin-top: 3px;
      margin-bottom: 25px;
   }
}

.hero__section .main__button {
   @media screen and (max-width:768px) {
      margin-right: auto;
      margin-left: auto;
   }  
}