.logo-icon  {
   fill: var(--main-text-color);
   width: 158px;
   height: 71px;

   @media screen and (max-width:768px) {
      width: 96px;
      height: 43px;
   }
}

.logo  {
   @media screen and (max-width:768px) {
      text-align: center;
      margin-bottom: 33px;
      padding-top: 7px;
      padding-bottom: 7px;
   }
}

