:root {
	--main-text-color:#2E2520; 
	--secondury-color:#FEF3E4;
	--main-accente-color: #674D40;
	--black-color: #000000;
	--white-color: #FFFFFF;

	--main-fonts:'Montserrat', sans-serif;

	--maim-bg-color: #E5E5E5;
	--accente-bg-color: #FEF3E4;

	--grid-item:1;
	--grid-margin: 30px;

	--transform-time: 250ms;
}